<!DOCTYPE html>
<html>
  <head>
    <title>Neopixel control</title>
    <link rel="icon" href="favicon.png">
    <link rel="stylesheet" type="text/css " href="style.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
    <script src="jscolor.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
      let socketProtocol = window.location.protocol === "https:" ? "wss://" : "ws://";
let socketURL = socketProtocol + window.location.host + "/<%= instance %>/site";
window.onload = function() {
  // load previous state
  $.getJSON("<%= instance %>.json", {_: new Date().getTime()}, initialSetState);
  // add click listeners
  document.addEventListener('mousedown', onDocumentMouseDown, false);
  document.addEventListener('touchstart', onDocumentMouseDown, false);

  // hackishly keep the solid color open
  solidColorHide = document.getElementById("solidColor").jscolor.hide;
  document.getElementById("solidColor").jscolor.hide = function(){};

  resetOnAndBrightness(false);

  // try to set canvas size
  setSolidColorpickerSize();

  // and center text labels
  centerSlidersText();
}
    </script>
    <script src="leds.js"></script>
  </head>

  <body>
    <!-- tab select -->
    <div>
      <table width="100%" style="table-layout: fixed;"><tr>
          <td style="text-align:center"><button class="topbutton-active" onclick="activateTab(this, 'tabSolidColor')">Solid Color</button></td>
          <td style="text-align:center"><button class="topbutton" onclick="activateTab(this, 'tabManyColorEntry')">Many Colors</button></td>
          <td style="text-align:center"><button class="topbutton" onclick="activateTab(this, 'tabAnimate')">Animated</button></td>
          <td style="text-align:center"><button class="topbutton" onclick="activateTab(this, 'tabSaved')">Saved Designs</button></td>
        </tr></table>
    </div>

    <div id="tabCtrl">
      <div id="tabSolidColor" style="display: block;">
        <!-- solid color tab -->
        <br id="solidColorBr">
        <div class="background-rect" id="solidColorCenter">
          <br>
          <input data-jscolor="{previewElement:'#pr1', shadow:false}" id="solidColor" onInput="solidColorChange(this)" style="border: 2px solid #444444; border-radius: 5px;">
        </div>
        <br>
        <div class="background-rect" id="solidColorSliders">
          <table width="100%" style="table-layout: fixed;"><tr>
              <td style="text-align:center"><button class="topbutton" onclick="resetSingleColor()">reset</button></td>
              <td style="text-align:center"><button class="topbutton" onclick="saveSingleColor(this)" id="singleColorSave">save</button></td>
              <td style="text-align:center"><button id="loadSingleColor" class="topbutton" onclick="loadSingleColor(this)">load</button></td>
            </tr></table>
            <div style="display: flex;">
              <div style="display: block;">
                <label class="switch">
                  <input type="checkbox" onClick="lightsOnOff(this)">
                  <span class="slider round"><span class="on">ON</span><span class="off">OFF</span></span>
                </label>
              </div>
              <div style="flex-grow: 1;">
                <span class="sliderText">Brightness: <label class="brightnessSliderLabel">0%</label></span>
                <input type="range" class="range brightnessSlider" onInput="brightnessChange(this)">
              </div>
            </div>
        </div>
      </div>

      <div id="tabManyColorEntry" style="display: none;">
        <!-- many color tab -->
        <br id="manyColorBr">
        <div class="background-rect" id="manyColorEntryCenter"> 
          <canvas id="manyColorCanvas" 
                  onclick="checkLightsMouse()"
                  onmousedown="multiColorPress()"
                  ontouchstart="multiColorTouch()"
                  onmouseup="multiColorRelease()"
                  ontouchend="multiColorRelease()"
                  onmousemove="multiColorMove()"
                  ontouchmove="multiColorTouchMove()"
                  height="200"></canvas>
        </div>
        </br> 
        <div class="background-rect" id="manyColorEntrySliders">
          <table width="100%" style="table-layout: fixed;"><tr>
              <td style="text-align:center"><button class="topbutton" onclick="resetMultiColor()">reset</button></td>
              <td style="text-align:center"><button class="topbutton" onclick="singleColorFill(this)">solid color fill</button></td>
              <td style="text-align:center"><button id="multiColorSave" class="topbutton" onclick="saveMultiColor(this)">save</button></td>
              <td style="text-align:center"><button id="loadMultiColor" class="topbutton" onclick="loadMultiColor(this)">load</button></td>
            </tr></table>
            <span class="sliderText">Gradient/pattern: <label id="gradientSliderLabel">0%</label></span>
            <input type="range" id="gradientSlider" class="range" onInput="patternChange(this)">
            <span class="sliderText">Randomness: <label id="randomnessSliderLabel">0%</label></span>
            <input type="range" id="randomnessSlider" class="range" onInput="randomnessChange(this)">
            <div style="display: flex;">
              <div style="display: block;">
                <label class="switch">
                  <input type="checkbox" onClick="lightsOnOff(this)">
                  <span class="slider round"><span class="on">ON</span><span class="off">OFF</span></span>
                </label>
              </div>
              <div style="flex-grow: 1;">
                <span class="sliderText">Brightness: <label class="brightnessSliderLabel">0%</label></span>
                <input type="range" class="range brightnessSlider" onInput="brightnessChange(this)">
              </div>
            </div>
        </div>
      </div>
      <div id="tabAnimate" style="display: none;">
        <!-- animation tab -->
        <br id="animateBr">
        <div class="background-rect" id="animateCenter"> 
          <!-- <canvas id="animateCanvas" 
            onclick="checkLightsMouse()"
            onmousedown="multiColorPress()"
            ontouchstart="multiColorTouch()"
            onmouseup="multiColorRelease()"
            ontouchend="multiColorRelease()"
            onmousemove="multiColorMove()"
            ontouchmove="multiColorTouchMove()"
            height="200"></canvas> -->
          <canvas id="animateCanvas"
                  height="200"></canvas>
        </div>
        </br> 
        <div class="background-rect" id="animateSliders">
          <table width="100%" style="table-layout: fixed;"><tr>
              <td style="text-align:center"><button class="topbutton" onclick="resetAnimate()">reset</button></td>
              <!-- <td style="text-align:center"><button class="topbutton" onclick="singleColorFill(this)">solid color fill</button></td> -->
              <td style="text-align:center"><button id="multiColorSave" class="topbutton" onclick="saveAnimation(this)">save</button></td>
              <td style="text-align:center"><button id="loadMultiColor" class="topbutton" onclick="loadAnimation(this)">load</button></td>
            </tr></table>
            <span class="sliderText">Global slide duration: <label id="globalDurationSliderLabel">0%</label></span>
            <input type="range" id="globalDurationSlider" class="range" onInput="globalDurationChange(this)">
            <div style="display: flex;">
              <div style="display: block;">
                [something here to select transition type]
              </div>
              <div style="flex-grow: 1;">
                <span class="sliderText">Global transition duration: <label id="globalTransitionDurationSliderLabel">0%</label></span>
                <input type="range" id="globalTransitionDurationSlider" class="range" onInput="globalTransitionDurationChange(this)">
              </div>
            </div>
            <div style="display: flex;">
              <div style="display: block;">
                <label class="switch">
                  <input type="checkbox" onClick="lightsOnOff(this)">
                  <span class="slider round"><span class="on">ON</span><span class="off">OFF</span></span>
                </label>
              </div>
              <div style="flex-grow: 1;">
                <span class="sliderText">Brightness: <label class="brightnessSliderLabel">0%</label></span>
                <input type="range" class="range brightnessSlider" onInput="brightnessChange(this)">
              </div>
            </div>
        </div>
      </div>
      <div id="tabSaved" style="display: none;">
        <!-- saved designs tab -->
        <br id="savedBr">
        <div class="background-rect" id="savedCenter"> 
          <div>1</div>
          <div>2</div>
          <div>3</div>
          <div>4</div>
          <div>5</div>
          <div>6</div>
          <div>7</div>
          <div>8</div>
          <div>9</div>
          <div>10</div>
          <div>11</div>
          <div>12</div>
          <div>13</div>
          <div>14</div>
          <div>15</div>
          <div>16</div>
          <div>17</div>
          <div>18</div>
          <div>19</div>
        </div>
        </br> 
        <div class="background-rect" id="savedSliders">
          <div style="display: flex;">
            <div style="display: block;">
              <label class="switch">
                <input type="checkbox" onClick="lightsOnOff(this)">
                <span class="slider round"><span class="on">ON</span><span class="off">OFF</span></span>
              </label>
            </div>
            <div style="flex-grow: 1;">
              <span class="sliderText">Brightness: <label class="brightnessSliderLabel">0%</label></span>
              <input type="range" class="range brightnessSlider" onInput="brightnessChange(this)">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="overlay" id="overlay" style="width: 235px; height: 50%;">
      <input data-jscolor="{previewElement:'#pr1', shadow:false}" id="multiColorPicker" onInput="multiColorPickerChange(this,'solidColor')" style="display: block; border: 2px solid #444444; margin-bottom: 5px; border-radius: 5px;">
    </div> 
    <div class="overlay loadOverlay" id="solidLoadOverlay" style="width: 235px; height: 50%;">
      &nbsp;Nothing saved yet
    </div> 
    <div class="overlay loadOverlay" id="manyLoadOverlay" style="width: 235px; height: 50%;">
      &nbsp;Nothing saved yet
    </div> 
  </body>
</html>
