<!DOCTYPE html>
<html>
  <head>
    <title>Neopixel control</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="../static/jscolor.js"></script>
    <script src="../static/leds.js"></script>
    <script src="../static/tabstyle.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <!-- tab select -->
    <div>
      <table width="100%" style="table-layout: fixed;"><tr>
          <td style="text-align:center"><button class="topbutton-active" onclick="activateTab(this, 'tabSolidColor')">Solid Color</button></td>
          <td style="text-align:center"><button class="topbutton" onclick="activateTab(this, 'tabManyColorEntry')">Many Color Entry</button></td>
          <td style="text-align:center"><button class="topbutton" onclick="activateTab(this, 'tabManyColorSelect')">Many Color Select</button></td>
          <td style="text-align:center"><button class="topbutton" onclick="activateTab(this, 'tabAnimate')">Animate</button></td>
        </tr></table>
    </div>

    <div id="tabCtrl">
      <div id="tabSolidColor" style="display: block;">
        <!-- solid color tab -->
        <br>
        <div class="background-rect" id="solidColorCenter">
          <br>
          <input data-jscolor="{previewElement:'#pr1', shadow:false}" id="solidColor" onInput="solidColorChange(this,'solidColor')" style="border: 2px solid #444444; margin-bottom: 5px; border-radius: 5px;">
        </div>
        <br>
        <div class="background-rect" id="solidColorSliders">
          <div style="display: flex;">
            <div style="display: block;">
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"><span class="on">ON</span><span class="off">OFF</span></span>
              </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div style="flex-grow: 1;">
              <span class="sliderText">Brightness: <label class="sliderPercent3">0%</label></span>
              <input type="range" name="entry" class="slider3" onInput="brightnessChange(this)">
            </div>
          </div>
        </div>
      </div>

      <div id="tabManyColorEntry" style="display: none;">
        <!-- many color tab -->
        <br>
        <div class="background-rect" id="manyColorEntryCenter" style="padding:0.6%">
          <canvas id="manyColorCanvas" height="200"></canvas>
        </div>
        </br> 
        <div class="background-rect" id="manyColorEntrySliders">
          <table width="100%" style="table-layout: fixed;"><tr>
              <td style="text-align:center"><button class="topbutton">reset</button></td>
              <td style="text-align:center"><button class="topbutton">solid color fill</button></td>
              <td style="text-align:center"><button class="topbutton">save</button></td>
              <td style="text-align:center"><button class="topbutton">load</button></td>
            </tr></table>
            <span class="sliderText">Gradient/pattern: <label class="sliderPercent1">0%</label></span>
            <input type="range" name="entry" class="slider1" onInput="patternChange(this)">
            <span class="sliderText">Randomness: <label class="sliderPercent2">0%</label></span>
            <input type="range" name="entry" class="slider2" onInput="randomnessChange(this)">
            <div style="display: flex;">
              <div style="display: block;">
                <label class="switch">
                  <input type="checkbox">
                  <span class="slider round"><span class="on">ON</span><span class="off">OFF</span></span>
                </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </div>
              <div style="flex-grow: 1;">
                <span class="sliderText">Brightness: <label class="sliderPercent3">0%</label></span>
                <input type="range" name="entry" class="slider3" onInput="brightnessChange(this)">
              </div>
            </div>
        </div>
      </div>
      <div id="tabManyColorSelect" style="display: none;">many color select</br>work in progress...</div>
      <div id="tabAnimate" style="display: none;">animate</br>yeah i'm sure this will happen at some point...</div>
    </div>
    <div id="overlay">
      <div id="overlaybox">
        Color picker goes here!
          <input data-jscolor="{previewElement:'#pr1', shadow:false}" id="multiColorPicker" onInput="solidColorChange(this,'solidColor')" style="border: 2px solid #444444; margin-bottom: 5px; border-radius: 5px;">
      </div>
    </div> 
  </body>
</html>
