<!DOCTYPE html>
<html>
  <head>
    <script src="../static/test.js"></script>
  </head>
  <body>
    <p>Sample form</p>
    <form action="/response" method="post">
      <div>
        <label for="entry">Input: </label>
        <input type="color" name="entry" id="textbox">
      </div>
      <div>
        <input type="submit" value="Go!">
      </div>
    </form>
    <button onclick="buttonClick()">click!</button>
    {% if name %}
    <p>Thank you for entering: {{ name }}</p>
    {% endif %}
  </body>
</html>
